@import "gilroy.css";
* {
  box-sizing: border-box;
  font-family: "Gilroy-Regular", sans-serif;
}

.header {
  background: rgba(50, 11, 97, 0.8);
  height: 858px;
  position: relative;
}
.header .container {
  position: relative;
}
.header-background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-background__element {
  position: absolute;
}
.header-background__element_left {
  top: 516px;
  left: 15px;
}
.header-background__element_right {
  top: 630px;
  right: 15px;
}
.header__description {
  margin: 0 auto;
  padding-top: 25px;
  width: 920px;
  display: grid;
  grid-template-columns: 68px 837px;
  grid-column-gap: 15px;
}
.header__description-text {
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
}
.header__logo {
  height: 68px;
  width: 68px;
}
.header__title {
  margin-top: 36px;
}
.header__title h1 {
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  text-align: center;
}
.header__title hr {
  border: 1px solid #FAD264;
  width: 83px;
  margin-top: 26px;
  margin-bottom: 0;
}
.header__text {
  color: #ffffff;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 auto;
  margin-top: 26px;
  width: 730px;
}
.header__items {
  max-width: 920px;
  margin: 0 auto;
  margin-top: 40px;
}
.header__item {
  width: 285px;
  height: 125px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  position: relative;
}
.header__item:before {
  position: absolute;
  content: url("../img/star.svg");
  top: -22px;
  left: calc(50% - 22px);
}
.header__date {
  margin: 0 auto;
  margin-top: 40px;
  width: 636px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #fff;
}
.header__date img {
  margin-right: 23px;
}
.header__form {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
}
.header__form-element {
  width: 254px;
  height: 56px;
  text-align: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: none;
}
.header__input {
  background: #FFFFFF;
}
.header__input:focus {
  outline: none;
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(76deg, #FAD264 45%, #FCE558 70%);
  color: #000;
}
.header__button:hover {
  text-decoration: none;
  color: #000;
  background: linear-gradient(76deg, #FCE558 45%, #FAD264 70%);
}
.header__motivation {
  margin-top: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__motivation img {
  width: 58px;
}
.header__motivation-text {
  width: 468px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.text_yellow {
  color: #FCE558;
}
.text_uppercase {
  text-transform: uppercase;
}
.text_bold {
  font-family: "Gilroy-Bold";
  font-weight: 700;
}

.toggle {
  position: relative;
  display: flex;
  height: 24px;
  margin-top: 20px;
}
.toggle__label {
  color: #FFFFFF;
}
.toggle__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.toggle__input + span {
  display: block;
  position: relative;
  padding: 0 0 4px 50px;
  user-select: none;
  line-height: 20px;
}
.toggle__input + span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 13px;
  box-sizing: inherit;
  transition: 0.2s;
}
.toggle__input + span:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.25);
  transition: 0.2s;
}
.toggle__input:checked + span:before {
  border: 1px solid #FAD264;
}
.toggle__input:checked + span:after {
  left: 24px;
  background: linear-gradient(76deg, #FAD264 45%, #FCE558 70%);
}

.program .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}
.program__title {
  font-size: 36px;
  line-height: 44px;
  color: #320B61;
  margin: 0;
}
.program hr {
  width: 70px;
  border: 1px solid #E130E3;
  margin-top: 39px;
  margin-bottom: 23px;
}
.program__card:first-child {
  margin-bottom: 155px;
}
.program__card:nth-child(2) {
  margin-bottom: 45px;
}

.cards {
  max-width: 1110px;
  width: 100%;
}
.cards__element {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding-bottom: 25px;
}
.cards__header {
  margin-bottom: 38px;
  display: flex;
}
.cards__time {
  max-width: 284px;
  width: 100%;
  background: #FAD264;
  padding: 24px 0 17px 0;
}
.cards__time span {
  display: flex;
  justify-content: center;
  color: #42196D;
  font-size: 20px;
  line-height: 24px;
}
.cards__title {
  width: 100%;
  background: #320B61;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
}
.cards__content {
  display: flex;
}
.cards__description {
  margin-left: 31px;
  margin-right: 56px;
}
.cards__description-list {
  padding: 0;
  margin: 0;
}
.cards__description-list li {
  position: relative;
  list-style-type: none;
  padding-left: 46px;
  padding-top: 4px;
  font-size: 18px;
  line-height: 21px;
}
.cards__description-list li:not(:first-child) {
  margin-top: 16px;
}
.cards__description-list li:before {
  content: url("../img/check.svg");
  position: absolute;
  left: 0;
  top: 0;
}
.cards__result {
  margin-top: 32px;
}
.cards__result h3 {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
}
.cards__result ul {
  padding: 0;
  margin: 0;
}
.cards__result li {
  font-size: 18px;
  line-height: 21px;
  position: relative;
  list-style-type: none;
  padding-left: 19px;
}
.cards__result li:not(:first-child) {
  margin-top: 10px;
}
.cards__result li:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #42196D;
  left: 0;
  top: 5px;
}

.reason {
  background: #42196D;
  color: #FFFFFF;
}
.reason .container {
  padding-top: 82px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reason__title {
  font-size: 36px;
  line-height: 44px;
  color: #FAD264;
}
.reason hr {
  border: 1px solid #FFFFFF;
  width: 70px;
  margin-top: 39px;
  margin-bottom: 63px;
}
.reason__column {
  width: 349px;
}
.reason__description {
  position: relative;
  background: #fff;
  color: #292841;
  padding-top: 33px;
  padding-bottom: 24px;
  margin-bottom: 22px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  display: grid;
  grid-template-rows: 88px 84px;
  grid-row-gap: 17px;
  text-align: center;
}
.reason__description h6 {
  font-size: 18px;
  line-height: 22px;
}
.reason__description p {
  font-size: 18px;
  line-height: 21px;
}
.reason__description:after {
  position: absolute;
  content: url("../img/arrowBottom.svg");
  left: calc(50% - 24px);
  bottom: -22px;
}
.reason__result {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.reason__result p {
  margin-bottom: 13px;
}
.reason__result ul {
  padding: 0;
  margin: 0;
}
.reason__result li {
  list-style-type: none;
  position: relative;
  text-align: left;
  padding-left: 50px;
  padding-top: 4px;
  min-height: 30px;
}
.reason__result li:before {
  content: url("../img/resultCheck.svg");
  position: absolute;
  left: 0;
  top: 0;
}
.reason__result li:not(:last-child) {
  margin-bottom: 17px;
}

/*# sourceMappingURL=style.css.map */
